<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
      <!--mark down the action-->

      <label for="">email</label>
      <input type="email" required name="email" />
      <label for="">Password</label>
      <input type="password" required name="password" />

      <button type="submit">Login</button>
    </form>
  </body>
</html>
